<h1 class="cover-heading">My Homepage</h1>
<p class="lead">
  My name is Scott. I am a software developer based in Newcastle,
  UK.
</p>
<p class="lead">
  I am the lead developer at
  <a href="https://www.mypebble.co.uk">Pebble</a>.
  I can be reached through my 
  <a href="mailto:scott.walton@mypebble.co.uk">work email</a>.
</p>
<p class="lead">
  I am also somewhat active on
  <a href="https://github.com/scott-w">Github</a>.
  <a href="https://github.com/mypebble">Check out the projects
    that we maintain</a>.
</p>
